packages/*
!packages/repositories.config

*.nupkg

/.project
node_modules

build
NHConfig
output
_TeamCity.*
_ReSharper.*
_TeamCity.*
*.etl
*.kernel.etl
*.csproj.user
*.resharper.user
*.ReSharper.user
*.TeamCity.user
*.DotSettings.user
*.resharper
*.suo
*.swp
*.cache
*.log
*.DS_Store
*.Report.html
*.Report.xml
*.Test.html
~$*
obj/
Obj/
bin/
Bin/

.sass-cache
_NCrunch_elevate/
*.ncrunchproject
*.ncrunchsolution

*.idea.*	
*.orig
nhconfig.bin
rake.out
TestResult.xml
WebDeployPackage.log

log.txt*
*~
error-*.xml
package.log
timeStamp.dat
.idea/workspace.xml
.idea/tasks.xml